@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* palette de couleur (du plus clair au plus foncé) :
#04BBFF
#0594D0
#007198
#003C57
#051C24 */

body{
    font-family: Montserrat;
    background-color: rgb(19, 19, 19);
    text-align: center;
    background-image: url(../images/Logo-vertical-transparent.png);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position-y: -2%;
    background-position-x: 4%;
}

#texte{
    color: white;
    font-size: 20px;
}
#div-texte{
    border: 4px solid white;
    border-radius: 6px;
    width: 45%;
    margin-left: 35%;
    margin-top: 8%;
}

.nombres{
    border-radius: 7px;
}