<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-noir.icon')}}" type="image/x-icon">

<a class="navbar-brand" href="#">
  <img src="{{ url_for('static', filename='images/2.png') }}" width="50" height="50">
</a>  
<form action="{{ url_for('connexion') }}"><button class="button-compt">Connexion</button></form>

<form action="{{ url_for('suite') }}"><button class="button-compt">Inscritption</button></from>